* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "3270NerdFontMono-Regular";
  src: url("/Fonts/3270NerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* create variable to reuse easier */
:root {
  /* Fonts */
  --primary-font-family: "3270NerdFontMono-Regular", sans-serif;
  --font-size-h1: 48px;
  --font-size-normal: 10px;
  /* Color */
  --color: #fabd2f;
  --bg-color: #32302f;
  --color-2: #d79921;
}

h1,
h3 {
  color: var(--font-color);
  font-family: var(--primary-font-family);
  font-size: var(--font-size-h1);
  text-align: center;
  background: var(--color-2);
}

h3 {
  font-size: var(--font-size-normal);
  padding-right: 90px;
}

h2 {
  font-size: 25px;
  font-family: var(--primary-font-family);
}
.header {
  margin-bottom: 20px;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopping_cart_container {
  display: flex;
  align-items: self-start;
}
.shopping_cart_button {
  display: flex;
  background-color: white;
  border: none;
  position: relative;
  font-family: var(--primary-font-family);
  font-size: large;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.items_quantities {
  position: absolute;
  background-color: aqua;
  border-radius: 50%;
  left: 276px;
}

.favorite_items_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.favorite_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: large;
}

.favorite_quantities {
  position: absolute;
  right: 136px;
  top: -4px;
  background-color: aqua;
  border-radius: 50%;
}
